defaults
  log global
  mode tcp
  timeout connect 5000ms
  timeout client 120000ms
  timeout server 120000ms

listen the_proxy 0.0.0.0:80
  mode tcp
  balance roundrobin
  server the_server ${BACKEND_URL}
